<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <app-timer></app-timer>
        </div>
        <div class="col-xs-8">
            <app-controls></app-controls>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-4">
            <app-logs [start]="startDate" [pause]="pauseDate"></app-logs>
        </div>
        <div class="col-xs-8">
            <app-counter [start]="startCount" [pause]="pauseCount"></app-counter>
        </div>
    </div>
</div>