<div class="container">
    <div class="row">
        <div class="full-width-div">
            <div class="full-width-div">
                <div class="full-width-div">
                    <div class="full-width-div">
                        <div class="full-width-div">
                            <div class="full-width-div">
                                <div class="full-width-div">
                                    <div class="full-width-div">
                                        <marquee behavior="alternate">I am a floating banner!!</marquee>
                                        <!-- <div class="scrolling-text" [@scroll]="state" (@scroll.done)="scrollDone()">Hover to pause!</div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>

