<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h3>
        {{title}}
      </h3>
      <hr>
      <div class="btn-group flex-wrap" role="group" aria-label="Angular Training Case Study">
        <button type="button" routerLink="" class="btn btn-outline-primary">Home</button>
        <button routerLink="/floatingBanner" class="btn btn-outline-primary">Floating Banner</button>
        <button type="button" routerLink="/category" class="btn btn-outline-primary">eCommerce Category Page</button>
        <button type="button" routerLink="/inputOutput" class="btn btn-outline-primary">CountDown Timer with Input/Output</button>
        <button type="button" routerLink="/subject" class="btn btn-outline-primary">CountDown Timer with Subject Service</button>
        <button type="button" routerLink="/smartTable" class="btn btn-outline-primary">Smart Table with Dynamic Data</button>
        <button type="button" routerLink="/dynamicDiv" class="btn btn-outline-primary">Dynamic Div on Scroll</button>      
      </div>
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>