<div class="container mr-2">
    <form>
        <div class="form-group row">
          <label for="time" class="col-sm-4 col-form-label">Enter Time Limit</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="time" placeholder="Time" name="time" [(ngModel)]="time">
          </div>
        </div>
        <div class="row justify-content-center" *ngIf="time">
            <button type="button" class="btn btn-outline-secondary mr-2" (click)="onStartPause(pauseStatus)">Start/Pause</button>
            <button type="button" class="btn btn-outline-danger" (click)="onReset()">Reset</button>
        </div>
        <div class="row mx-2" *ngFor="let pause of pausedAt">
            <p>Paused at {{ pause }}</p><br>
            <!-- <p *ngFor = "let pause of pausedAt">Paused at {{ pause }}</p> -->
        </div>
    </form>
</div>
